extends layout

block content
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/jsx', src="javascripts/fight.js") /** @jsx React.DOM */

  img(src="http://static.gigwise.com/gallery/5120094_spl546104_032_666.jpg", width="250px")
  
  h3 Authenticated
  div#content
